* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#search-input {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.25rem;
  flex-grow: 1;
}

#search-input:focus {
  outline: none;
  border-color: #967bb6;
}

button[type="submit"] {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background-color: #967bb6;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #967bb6;
}

#search-results {
  margin-bottom: 2rem;
}

.result-item {
  margin-bottom: 1rem;
}

.result-title {
  font-size: 1.5rem;
  margin-top: 0;
}

.result-link {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #967bb6;
}

.result-link:hover {
  text-decoration: underline;
}

.result-snippet {
  margin-top: 0;
}

.loader-light,
.loader-dark {
  position: absolute;
  width: 90px;
  height: 14px;
  background:
    radial-gradient(circle 7px at bottom, #967bb6 92%, #0000) calc(100%/2) 0,
    radial-gradient(circle 7px at top, #967bb6 92%, #0000) calc(100%/2) 100%,
    conic-gradient(from 135deg at top, #967bb6 90deg, #0000 0) 0 0,
    conic-gradient(from -45deg at bottom, #967bb6 90deg, #0000 0) 0 100%;
  background-size: calc(100%/2) 50%;
  background-repeat: repeat-x;
  animation: l13 3s infinite;
}

/* theme variables */
:root {
  --bg-start: #fff;
  --text-start: #121212;

  --bg-end: #121212;
  --text-end: #fff;
}

.dark-theme {
  --bg-start: #121212;
  --text-start: #fff;

  --bg-end: #fff;
  --text-end: #121212;
}

h1:hover {
  animation: blink-animation .8s steps(4, end) forwards;
}

/* animations */
@keyframes blink-animation {

  0%,
  50% {
    background-color: var(--bg-start);
    color: var(--text-start);
  }

  75%,
  100% {
    background-color: var(--bg-end);
    color: var(--text-end);
  }
}

@keyframes l13 {
  0% {
    background-position: calc(100%/2) 0, calc(100%/2) 100%, 0 0, 0 100%
  }

  20%,
  30% {
    background-position: calc(3*100%/4) 0, calc(100%/4) 100%, calc(100%/4) 0, calc(100%/-4) 100%
  }

  45%,
  55% {
    background-position: 100% 0, 0 100%, calc(100%/2) 0, calc(100%/-2) 100%
  }

  70%,
  80% {
    background-position: calc(5*100%/4) 0, calc(100%/-4) 100%, calc(3*100%/4) 0, calc(3*100%/-4) 100%
  }

  100% {
    background-position: calc(3*100%/2) 0, calc(100%/-2) 100%, 100% 0, -100% 100%
  }
}

/* dark theme */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggler {
  border: none;
  background: transparent;
  cursor: pointer;
  background: #e2e2e2;
  padding: 10px 20px;
  border-radius: 100px;
}

.dark-theme {
  background-color: #121212;
  color: #fff;
}

.dark-theme #search-input {
  background-color: #121212;
  color: #fff;
  border-color: #fff;
}

.dark-theme #search-input:focus {
  border-color: #967bb6;
}

.dark-theme button[type="submit"] {
  background-color: #967bb6;
}

.dark-theme .result-link,
.dark-theme .result-link:hover {
  color: #967bb6;
}